.home {
  background: #f5f5f5;

  .footer {
    margin-top: 5rem;
    .container {
      .row {
        justify-content: center;
        text-align: -webkit-center;

        .col-xl-3 {
          ul {
            width: fit-content;
            list-style: none;
            margin-bottom: 5rem;
            text-align: left;
            label {
              text-align: left;
              font-size: 17px;
              font-weight: 500;
              margin-bottom: 8px;
            }
            li {
              text-align: left;
              margin: 8px 0px;
              cursor: pointer;
              color: #4b4b4b;
            }
          }
        }
      }
    }
  }
}
